<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
<div id="shopify-section-b94d5601-087c-4d4e-85a5-81134b0a1d06" class="shopify-section">
  <section class="our-service-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="service-main">
            <ul class="service-wrap">
              <li class="service-wrapper">
                <div class="service-block">
                  <div class="icon-block">
                    <a href="" class="service-icon">
                      <span class="icon"><i class="fa-solid fa-gift"></i></span>
                    </a>
                  </div>
                  <div class="service-text">
                    <h6>Free shipping</h6>

                    <p>It is a long established fact that a reader will be distracted by the.. !</p>
                  </div>
                </div>
              </li>

              <li class="service-wrapper">
                <div class="service-block">
                  <div class="icon-block">
                    <a href="" class="service-icon">
                      <span class="icon"><i class="feather-lock"></i></span>
                    </a>
                  </div>
                  <div class="service-text">
                    <h6>Secure payment</h6>

                    <p>It is a long established fact that a reader will be distracted by the.. !</p>
                  </div>
                </div>
              </li>

              <li class="service-wrapper">
                <div class="service-block">
                  <div class="icon-block">
                    <a href="" class="service-icon">
                      <span class="icon"><i class="feather-rotate-ccw"></i></span>
                    </a>
                  </div>
                  <div class="service-text">
                    <h6>30 Days return</h6>

                    <p>It is a long established fact that a reader will be distracted by the.. !</p>
                  </div>
                </div>
              </li>

              <li class="service-wrapper">
                <div class="service-block">
                  <div class="icon-block">
                    <a href="" class="service-icon">
                      <span class="icon"><i class="feather-gift"></i></span>
                    </a>
                  </div>
                  <div class="service-text">
                    <h6>Gift voucher</h6>

                    <p>It is a long established fact that a reader will be distracted by the.. !</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .our-service-area {
      padding-top: 100px;
      padding-bottom: 0px;
    }
    @media (max-width: 1199px) {
      .our-service-area {
        padding-top: 80px;
        padding-bottom: 0px;
      }
    }
    @media (max-width: 767px) {
      .our-service-area {
        padding-top: 60px;
        padding-bottom: 0px;
      }
    }

    .our-service-area .service-main ul.service-wrap {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -30px;

      margin-left: -30px;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper {
      width: calc(25% - 30px);
      margin-top: 30px;

      margin-left: 30px;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block {
      text-align: center;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .icon-block {
      position: relative;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .icon-block::before {
      content: '';
      position: absolute;
      top: 40px;
      width: 100%;
      border: 1px dashed #ffebee;
      z-index: -1;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper:last-child .service-block .icon-block::before {
      display: none;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .icon-block a.service-icon {
      background-color: #faf8f6;
      color: rgb(254, 130, 141);
      width: 80px;
      height: 80px;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      margin: 0 auto;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper:hover .service-block .icon-block a.service-icon {
      background-color: rgb(254, 130, 141);
      color: #ffffff;
    }
    .our-service-area
      .service-main
      ul.service-wrap
      li.service-wrapper
      .service-block
      .icon-block
      a.service-icon
      span.icon {
      display: block;
      line-height: 0;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .service-text {
      margin-top: 25px;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .service-text h6 {
      font-size: 18px;
      font-weight: var(--font-custom-weight-section-header);
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .service-text p {
      width: 83.33%;
      margin: 15px auto 0;
    }
    .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .icon-block a.service-icon,
    .our-service-area .service-main ul.service-wrap li.service-wrapper:hover .service-block .icon-block a.service-icon {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    @media (max-width: 1399px) {
      .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .service-text p {
        width: 100%;
      }
    }
    @media (max-width: 991px) {
      .our-service-area .service-main ul.service-wrap li.service-wrapper {
        width: calc(50% - 30px);
      }
      .our-service-area .service-main ul.service-wrap li.service-wrapper .service-block .icon-block::before {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .our-service-area .service-main ul.service-wrap {
        margin-left: -12px;
      }
      .our-service-area .service-main ul.service-wrap li.service-wrapper {
        width: calc(50% - 12px);

        margin-left: 12px;
      }
    }
    @media (max-width: 479px) {
      .our-service-area .service-main ul.service-wrap li.service-wrapper {
        width: calc(100% - 12px);
      }
    }
  </style>
</div>
{% schema %}
{
  "name": "Our service",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top_lg",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_lg",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "section_bgcolor_enable",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bgcolor",
      "label": "Background Color",
      "default": "#f8f8f8"
    },
    {
      "type": "header",
      "content": "Section background Image"
    },
    {
      "type": "checkbox",
      "id": "section_bg_image_enable",
      "label": "Show background image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Section background image",
      "info": "Recommended Size: 1350x200px"
    },
    {
      "type": "header",
      "content": "Section Border"
    },
    {
      "type": "range",
      "id": "border",
      "label": "Border",
      "min": 0,
      "max": 2,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#eeeeee"
    },
    {
      "type": "checkbox",
      "id": "border_enable",
      "label": "Show Section Border",
      "default": false
    },
    {
      "type": "range",
      "id": "border_color_opacity",
      "label": "Theme Border Color Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "our_services",
      "name": "Our Services",
      "settings": [
        {
          "type": "text",
          "id": "service_icon",
          "label": "Icon Class",
          "default": "feather-truck",
          "info": "[See Icon Name](https://dropways.github.io/feathericons/)"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Service Title",
          "default": "Free shipping"
        },
        {
          "type": "textarea",
          "id": "service_desc",
          "label": "Service Description",
          "default": "It is a long established fact that a reader will be distracted by the.. !"
        },
        {
          "type": "url",
          "id": "service_url",
          "label": "Service URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our service"
    }
  ]
}
{% endschema %}
